image: rancher/system-agent-installer-k3s:{{replace "+" "-" build.tag}}
manifests:
  - image: rancher/system-agent-installer-k3s:{{replace "+" "-" build.tag}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
  - image: rancher/system-agent-installer-k3s:{{replace "+" "-" build.tag}}-linux-s390x
    platform:
      architecture: s390x
      os: linux
